<%- include('../includes/header') %>
<%- include('../includes/nav') %>
<section class="breadcrumb_area br_image">
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">Image Gallery</h2>
            <ol class="breadcrumb">
                <li class="active">This page contains all the images shot on sunday services and other programs</li>
            </ol>
        </div>
    </div>
</section>
<section class="event_blog_area section_gap">
    <div class="container">
        <script src="https://apps.elfsight.com/p/platform.js" defer></script>
        <div class="elfsight-app-7cebe0aa-803c-4bf2-a47d-a3330030bbe5"></div>
       <a href="#" class="btn btn-primary btn-block col-sm-12">Click here to view All pictures</a>
    </div>
</section>

<%- include('../includes/footer') %>