<!-- logout model -->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Are you sure you want to Logout</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="/logout">Logout</a>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright &copy;
        <script>document.write(new Date().getFullYear());</script> All rights reserved | AGCM UCC </span>
    </div>
  </div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/vendor/chart.js/Chart.min.js"></script>
<script src="/js/sb-admin-2.min.js"></script>
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="/js/demo/datatables-demo.js"></script>
<script src="/js/demo/chart-area-demo.js"></script>
<script src="/js/demo/chart-pie-demo.js"></script>

<!-- aside footer -->
<!-- <script src="/js/jquery-3.2.1.min.js"></script> -->
<script src="/js/popper.js"></script>
<!-- <script src="/js/bootstrap.min.js"></script> -->
<script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="/js/jquery.ajaxchimp.min.js"></script>
<script src="/js/mail-script.js"></script>
<script src="/js/stellar.js"></script>
<script src="/vendors/lightbox/simpleLightbox.min.js"></script>
<script src="/vendors/flipclock/timer.js"></script>
<!-- <script src="/vendors/nice-select/js/jquery.nice-select.min.js"></script> -->
<script src="/js/custom.js"></script>
<!-- Include all Editor plugins JS files. -->

<!-- asside footer -->



<script type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
<script type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>
<script type="text/javascript" src="/text-area/js/froala_editor.min.js"></script>
<script type="text/javascript" src="/text-area/js/plugins/align.min.js"></script>
<script type="text/javascript" src="/text-area/js/plugins/code_beautifier.min.js"></script>
<script type="text/javascript" src="/text-area/js/plugins/code_view.min.js"></script>
<script type="text/javascript" src="/text-area/js/plugins/draggable.min.js"></script>
<script type="text/javascript" src="/text-area/js/plugins/image.min.js"></script>
<script type="text/javascript" src="/text-area/js/plugins/image_manager.min.js"></script>
<script type="text/javascript" src="/text-area/js/plugins/link.min.js"></script>
<script type="text/javascript" src="/text-area/js/plugins/lists.min.js"></script>
<script type="text/javascript" src="/text-area/js/plugins/paragraph_format.min.js"></script>
<script type="text/javascript" src="/text-area/js/plugins/paragraph_style.min.js"></script>
<script type="text/javascript" src="/text-area/js/plugins/table.min.js"></script>
<script type="text/javascript" src="/text-area/js/plugins/video.min.js"></script>
<script type="text/javascript" src="/text-area/js/plugins/url.min.js"></script>
<script type="text/javascript" src="/text-area/js/plugins/entities.min.js"></script>

<script>
(function () {
  const editorInstance = new FroalaEditor('#edit', {
    enter: FroalaEditor.ENTER_P,
    placeholderText: null,
    events: {
      initialized: function () {
        const editor = this
        this.el.closest('form').addEventListener('submit', function (e) {
          console.log(editor.$oel.val())
          // e.preventDefault()
        })
      }
    }
  })
})()
</script>
</body>

</html>